.home-shadow {
  -webkit-box-shadow: inset 7px -16px 74px -25px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: inset 7px -16px 74px -25px rgba(0, 0, 0, 0.69);
  box-shadow: inset 7px -16px 74px -25px rgba(0, 0, 0, 0.69);
}
/* change box shadow to background image */
.closebtn {
  float: right;
}
.sticky-container {
  position: fixed;
  top: 20rem;
  right: 0;
  z-index: 9999;
  width: fit-content;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #fff;
  animation-duration: 5s;
  animation-delay: 2s;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  z-index: 20;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-link {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: 0;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .feature-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 560px) {
}
@media (min-width: 300px) and (max-width: 500px) {
  .feature-title {
    font-size: 1.5rem;
  }
  .feature-description {
    font-size: 0.7rem;
  }
}

@media (min-width: 300px) and (max-width: );
